/* кольори */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --black-logo-color: #000000;


  --white-background-color: #ffffff;
  --cap-background-color: #2f303a;
  --team-background-color: #f5f4fa;
}

body {
  font-family: "Roboto",
  sans-serif;
  background-color:var(--white-background-color);
  color: var(--primary-text-color);
  
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* Верхняя линия */
.header {
  background-color: var(--white-background-color);

}
.header-logo
.header-logo-studio {
  color: var(--accent-color);
}
.header-navigation
.header-list
.header-item
.header-link
.header-contact
.header-contact-link
/* Шапка */
.cap
.cap-title {
  background-color: var(--cap-background-color);
}
.cap-btn
/* Особенности */
.features-section
.features-title
.features-text
/* Чем мы занимаемся */
.work-section
.work-title
.work-list
.work-item
/* Наша команда */
.team-section
.team-title
.team-list
.team-item
.team-worker
.team-profesion
/* Подвал */
.foorer
.foorer-logo
.foorer-logo-studio
.foorer-aderess
.foorer-list
.foorer-item
.foorer-link

/* portfolio */
.portfolio
  /* фильтр */
  .filters-list
  .filters-btn
  /* проекты */
  .projects-list
  .projects-item
  .projects-title
  .projects-text